<div class="container-fluid">
    <!--<acme-navbar creation-date="main.creationDate"></acme-navbar>-->
<div class="row">
  <div class="jumbotron text-center claim-hero" style="color:#fff; margin-bottom:0;">
    <img class="img-responsive" src="https://github.com/cary-gaskell/claim-advisor-ui/blob/master/src/assets/images/flood_insurance2.jpg?raw=true" style="opacity: 0.8;"/>
    <div class="claim-hero-title">

      <h1 class="m-b-0 fs-50">
        We believe in a <acme-malarkey extra-values="['better','easier','transparent','accurate','peaceful']"></acme-malarkey> claim experience
      </h1><br/>
      <span></span>
      <p>Providing People &amp; Companies With The Best Way To Settle Claims</p>

    </div>

    <div class="od-place-autocomplete autocomplete with-button">
      <input type="text" ng-model="query" placeholder="Enter your home address" placeholder="Enter your home address..." class="form-control" places-auto-complete size=80 xxx-component-restrictions="{country:'us'}" types="{{types}}" on-place-changed="vm.placeChanged(place)">
      <a href="#" ng-click="fire()" class="od-xhr-progress button submit white ng-binding">
        ← Get Peace of Mind Today</a>
    </div>
  </div>
</div>


  <div class="row">
    <div class="promo promo-light promo-full bottommargin-lg header-stick notopborder" style="margin-bottom:48px!important;">
      <div class="container tc clearfix">
        <h3 style="font-weight: 300;">Getting Insurance claims settled shouldn't be <span style="font-style: italic;" class="c-blue">this</span> hard</h3>
        <span>When a disaster strikes, the insurance company has building engineers, adjusters, supervisors and claims managers, all representing their interests. Wouldn’t you like someone to represent yours?</span>
      </div>
      <div class="container">
      <div class="house-img">
          <label class="house-1 text-small">months to settle</label>
          <label class="house-2 text-small">low-balled</label>
          <label class="house-3 text-small">nothing was documented</label>
          <label class="house-4 text-small">happy :)</label>
        <label class="house-5 text-small text-blue">no help</label>
      </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 100px;">
    <div class="container">
    <div class="col-xs-12">
      <h3 class="tc" style="font-weight: 300; margin-bottom: 53px;">With <strong>Claim Advisor</strong>, your claim is settled faster. Guaranteed!</h3>
    </div>
    <div class="col-md-4">
      <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
        <div class="fbox-icon" style="border-radius:0">
          <a href="#"><img style="border-radius:0" src="https://www.opendoor.com/assets/front/bubble-be723774def49626a99f3747b62f3e9e.svg"/></a>
        </div>
        <h3 style="font-weight: 300;">A fair offer on your claim<span class="subtitle">Tell us everything that makes your house special so we can make you the most competitive offer.</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
        <div class="fbox-icon" style="border-radius:0">
          <a href="#"><img style="border-radius:0" src="https://www.opendoor.com/assets/front/data-house-fd9b15138f4a132b3de28851367fe5b9.svg"/></a>
        </div>
        <h3 style="font-weight: 300;">Certainty you can count on<span class="subtitle">With your offer in hand, confidently choose the next step in your journey as a homeowner, whatever that may be.</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
        <div class="fbox-icon">
          <a href="#"><img style="border-radius:0" src="https://www.opendoor.com/assets/front/truck-0b61deb78bd09d4289a30a1a6e532114.svg"/></a>
        </div>
        <h3 style="font-weight: 300;">Move with convenience<span class="subtitle">No listing, no showings. You pick your close date, receive funds and move into your new home the day you want.</span></h3>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="tc m-t-45">
        <a href="#" class="button button-rounded button-reveal button-large button-border tright center"><span>Learn More →</span></a>
      </div>
    </div>
      </div>
</div>
  <div class="row">
  <div class="promo promo-light promo-full bottommargin-lg header-stick notopborder">
    <div class="container tc clearfix">
      <h3 style="font-weight: 300;">Thousands of claimants served</h3>
      <span class="tc" style="margin-bottom:30px;">And they love Claim Advisor</span>
      <div class="clearfix"></div>
      <div class="col-md-7 quote-square cursor">
        <div class="ipost clearfix">
          <section id="content">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/SZEflIVnhH8" frameborder="0" allowfullscreen></iframe>
          </section>
          <div class="entry-title">
            <h3 style="font-weight:300; font-style: italic;">"Claim Advisor’s Public Adjusters are specialists to say the least. They helped me understand what my policy covered and they fought for me. They are very knowledgeable and kept me in the loop when navigating through my policy and negotiating with the insurance company. I really believe that our final settlement was much better than it would have been had they not been involved. I would highly recommend them to anyone in need.”</h3>
            <p style="text-align: left; color:#999; margin-top:10px; margin-bottom:0;">– Antonio Kelly</p>
          </div>
        </div>
      </div>


      <div class="col-md-5">
        <div class="col-md-12 quote-square cursor">
          <div class="entry-title">
            <h3 style="font-weight:300; font-size:16px; font-style: italic;">"Claim Advisor made it possible for us to sell our home quickly, transition our family from one state to another, and move on with the next stage of our life."</h3>
            <p style="text-align: left; color:#999; margin-top:10px; margin-bottom:0;">– ERIN &amp; SODETH IM, HARRISBURG PA</p>
          </div>
        </div>

        <div class="col-md-12 quote-square cursor" style="margin-top:15px;">
        <div class="entry-image">
            <a href="#"><img class="image_fade" src="https://imgdrop.imgix.net/a6edf4b57636423bac3378c7587eeee2.jpg?w=580" alt="Image"></a>
          </div>
          <div class="entry-title">
            <h3 style="font-weight:300; font-size:16px; font-style: italic;">"Claim Advisor made it possible for us to sell our home quickly, transition our family from one state to another, and move on with the next stage of our life."</h3>
            <p style="text-align: left; color:#999; margin-top:10px; margin-bottom:0;">– ERIN &amp; SODETH IM, HARRISBURG PA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="row" style="margin-top:50px; margin-bottom: 100px;">
  <h3 class="tc" style="font-weight: 300;" ><strong>Claim Advisor</strong> will process your claim, instantly!</h3>
  <h4 class="tc">Take the next step to filing your claim</h4>
   <div class="tc">
   <a href="#" class="button button-rounded button-reveal button-large button-border tright center"><span>Learn More →</span></a>
  </div>
   </div>


<div class="row">
    <div class="col-xs-12">
    <!--<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 ">-->
      <img class="img-responsive center-block" src="https://github.com/cary-gaskell/claim-advisor-ui/blob/master/src/assets/images/opendoor.jpg?raw=true" style="opacity: 0.8; margin-bottom:20px;"/>
    </div>
  </div>
    <!--<button class="button" type="button" style=" margin-top:50px; margin-left:620px; margin-bottom: 20px;">Learn How →</button> -->

    <!--<a href="#" class="button button-border button-light button-circle" style=" margin-top:50px; margin-left:585px; margin-bottom: 20px;">Learn More →</a>-->
<div class="row" style="margin-top:25px; border-top:2px solid #fafafa">
  <div class="col-xs-12 p-t-25">
    <claim-footer></claim-footer>
  </div>
</div>

  </div>
  <!--<div id="gotoTop" class="icon-angle-up"></div>-->


<!--We will give you peace of mind that everything in your claim is being handled correctly, so you can set your focus on the actual rebuilding of your home or business.-->
