html, body{
    font-family: 'Raleway', sans-serif !important;
    font-size: 100%;
     background: #FFf;
     -webkit-font-smoothing: antialiased;

}
/* ----------------------------------------------------------------------------
  Buttons
---------------------------------------------------------------------------- */
.m-t-25 {
  margin-top:25px;
}
.m-b-0 {
  margin-bottom:0;
}
.m-t-45 {
  margin-top:45px;
}
.p-t-25 {
  padding-top:25px;
}

.fs-50 {
  font-size:50px;
}
.c-blue {
  color: #002244!important;
}
.button.button-border {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 13px;
}

.button.button-border.button-large {
  font-size: 15px;
}

.button.button-border.button-light {
  border-color: #F9F9F9;
  color: #F9F9F9;
}

.button.button-border.button-light:hover {
  background-color: #F9F9F9;
  color: #333;
  text-shadow: none;
}

.button.button-circle { border-radius: 20px; }

.button.button-large.button-circle { border-radius: 23px; }



.button.button-padded { padding: 0 50px; }

.button.button-padded i:last-child {
  position: absolute;
  line-height: 38px;
  left: auto;
  right: 20px;
  font-size: 20px;
}

.button.button-border.button-fill { overflow: hidden; }

.button.button-border.button-fill:hover {
  background-color: transparent !important;
  border-color: #444 !important;
}

.button.button-border.button-fill.button-light:hover { border-color: #F9F9F9 !important; }

.button.button-border.button-fill:before {
  content: '';
  position: absolute;
  background-color: #444;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-backface-visibility: hidden;
}

.button.button-border.button-fill.button-light:before { background-color: #FFF; }

.button.button-border.button-fill.fill-from-right:before {
  left: auto;
  right: 0;
}

.button.button-border.button-fill:hover:before { width: 100%; }

.button.button-border.button-fill.fill-zoom:before {
  width: 100%;
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.button.button-border.button-fill.fill-zoom:hover:before {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


.button.button-border.button-fill.fill-from-top:before {
  width: 100%;
  height: 0;
}

.button.button-border.button-fill.fill-from-top:hover:before { height: 100%; }


.button.button-border.button-fill.fill-from-bottom:before {
  width: 100%;
  height: 0;
  top: auto;
  bottom: 0;
}

.button.button-border.button-fill.fill-from-bottom:hover:before { height: 100%; }


.button.button-border.button-fill i:last-child {
  opacity: 0;
  right: 30px;
  -webkit-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.button.button-border.button-fill:hover i:last-child {
  opacity: 1;
  right: 20px;
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.claim-hero {
padding:0!important;
  z-index: 1;
}

.claim-hero-title {
  position: absolute;
  top: 112px;
  z-index: 2;
  left: 0;
  right: 0;
}
.claim-hero-content {
  position: absolute;
  top: 200px;
  z-index: 2;
  left: 0;
  right: 0;
}

.no-margin {
  margin: 0;
}
.tc {
  text-align:center;
}

.quote-square {
  border: 1px solid #999;
  padding: 25px;
}

.cursor {
  cursor: pointer;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.quote-square {
  background: #fff;
}

.house-img {
  background: url('https://github.com/cary-gaskell/claim-advisor-ui/blob/master/src/assets/images/claim-houses.png?raw=true') center / auto 127px no-repeat;
  margin-top: 2.5em;
  height: 220px;
  overflow: visible;
  white-space: nowrap;
}
.house-img label.house-1 {
  top: 43px;
  left: 59px;
}
.house-img label.house-2 {
  top: -5px;
  left: 79px;
}

.house-img label.house-3 {
  top: -16px;
  left: 93px;
}

.house-img label.house-4 {
  top: 7px;
  left: 150px;
  border: 1px solid #2ba8de;
  color:#2ba8de;
}

.house-img label.house-5 {
  top: 22px;
  left: 197px;
}
.house-img label {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #dedede;
  padding: 12px 24px;
  color: 12px;
  position: relative;
  font-weight: 500;

}
.autocomplete {
  position: relative;
  margin: 0 auto;
  color: black;
  text-shadow: none;
}
.od-place-autocomplete {
  bottom: 95px;
  z-index: 2;
  left: 25px;
  right:25px;
  background: #ffffff;
  border-radius: 3px;
  max-width: 800px;
}
.od-place-autocomplete.with-button input {
  height: 50px!important;
  border: 1px solid #2ba8de!important;
  display: inline-block!important;
  width: 100%!important;
  font-weight: 500!important;
  font-size: 14px!important;
  padding: 15px 20px!important;
  background: none!important;
  border-radius: 3px!important;
  vertical-align: middle!important;
  -webkit-transform: translateZ(0)!important;
  transform: translateZ(0)!important;
  -webkit-backface-visibility: hidden!important;
  backface-visibility: hidden!important;
  position: relative!important;
  overflow: hidden!important;
  -webkit-transition-property: color, border-radius!important;
  transition-property: color, border-radius!important;
  -webkit-transition-duration: 0.3s!important;
  transition-duration: 0.3s!important;
  z-index: 1;
}

.od-place-autocomplete.with-button .button.submit,
.od-place-autocomplete.with-button .button.submit:hover{
  background-color: transparent!important;
  position: absolute!important;
  width: 221px!important;
  height: 100%!important;
  overflow: hidden!important;
  right: 0!important;
  top: 0!important;
  text-align: right!important;
  vertical-align: middle!important;
  color: #2ba8de!important;
  border-radius: 0!important;
  padding-top: 17px!important;
  font-size: 12px!important;
  z-index: 3;
  cursor: pointer;
}